/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.block {
/* to modify width of the blog */
 /*width: 100%; */

}

.columnhalf{

  float: left;
  width: 50%;
  padding: 5px;

}

.columnthird{

  float: left;
  width: 33.33%;
  padding: 5px;

}

.columnfourth{

  float: left;
  width: 25%;
  padding: 5px;

}

.post-area {
  text-align: left;
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}


.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area2 a:link, .post-area2 a:visited{
  font-size: 15px;
  color: #fff;
}

.post-area2 .btn-small{
  margin: 5px 0;
  background: #655E7A;
  color: white;
  display: inline-block;
  font-size: 5px;
  letter-spacing: 1px;
  padding: 5px 5px;
  border-radius: 0;
  transition: all 0.2s;

}

.post-area a:hover {
  color: #0D0017;
}

.fix-class a:link, .fix-class a:visited {

font-size: 15px;
font-weight: bold;
color: #0099cc;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #655E7A; /*#eee*/
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #655E70;
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.columnteam {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .columnteam {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.containerteam {
  padding: 0 16px;
   text-align: center;
}

/* Clear floats */
.containerteam::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titleteam {
  color: grey;
}
