<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
        	<ul class="social-icons">
            <li>
			  <a href="https://www.facebook.com/groups/MunichISA/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/munich_isa/"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/Team_MISA/"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/groups/10528321/"><i class="fa fa-linkedin"></i></a>
            </li>
          	</ul>
          	<br>
          <ul>
            <li><a href="{{ site.baseurl }}/#abt">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
          </ul>
        </div>
        <p>MISA - All rights reserved.</p>
		<p>Hosted on GitHub. Designed and Maintained by <a href="https://www.linkedin.com/in/ankitk50/">Ankit Kumar</a></p>
        <p></p>
      </div>
    </div>
  </div>
</footer>
